* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.app {
    border: 2px solid red;

}

.res-list {
    display: flex;

    flex-direction: column;


}

.features {
    padding: 0 2.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.resCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 2em;
    padding: 0 2.5em;
}

.card {
    width: 250px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.card:hover {
    border: 1px solid black;
}

.resImage {
    width: 200px;
    height: 150px;
}

.navItems {
    display: flex;
    padding: 0 5em;
}

.navbar {
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.navbar>.logo {}

.navItems>ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

.logo-img {
    width: 100px;

}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5em;
}

.shimmer-card {
    margin: 1em;
    display: block;
    width: 220px;
    height: 300px;
    background: #f0f0f0;
}

.btn-nav {
    font-size: 14px;
    padding: 0 1.25em;
    margin: 0 1em;
}

.menu {
    /* margin: 1em 2.5em; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.meal-detail {
    margin: 1.5em 0;
    border: 2px solid #f0f0a2;
}

.delivery-rating {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 50%;
    padding: 1em;
}
.rating{
    
    display: flex;
    justify-content: flex-end;
}
.main-div{
    width: 50%;
    margin: 2em 0;
}

.rating .inside-rating {
    padding: 0.75em 2.75em;
    width: 50%;
    border: 1px solid #858282;
}
.inside-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
